<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Emprendimiento | Comunidad conectada</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/RegistroEmprendimiento.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/formularios.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
   <header>
             <div class = "navbar">
                <div><img class="logo" src="img/logooficial.png" alt="logo"></div>
                <div class="mobile-nav">
                    <input type="checkbox" id="responsive-menu" class="responsive-menu">
                    <label for="responsive-menu" class="hamburger">
                        <i class='bx bx-menu'></i>
                    </label>
                    <div class="menu-content">
                        <nav>
                            <div class="menu-item">
                                <ul>
                                    <li><a href="/">Inicio</a></li>
                                    <li><a href="/publicaciones">Publicaciones</a></li>
                                    <li><a href="/transporte">Transporte</a></li>
                                    <li><a href="/ofertas">Oferta</a></li>
                                    <li><a href="/RegistroEmprendimiento">Emprendimientos</a></li>
                                    <li><a href="/panelAdmin">Administración</a></li>
                                    <li><a href="/perfil">Perfil</a></li>
                                    <li><a href="/envioReportes">Reportes</a></li>
                                    <li class="search-container">
                                        <form action="search">
                                            <input type="text" name="query" placeholder="buscar">
                                            <span class="icon" ><i class='bxr  bx-search'></i></span>
                                            
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
    </header>
  <main class="regbusiness-main"></main>
  <section class="intro">
  <h2>Registrar mi Emprendimiento</h2>
  <p>Completa la información para dar visibilidad a tu negocio dentro de la comunidad.</p>
</section>
<section class="registro">
  <div class="registro-contenedor">
    <div class="registro-info">
      <h2>Registro de Emprendimiento</h2>
      <p>Llena el formulario a continuación:</p>
    </div>

    <form action="/addBusiness" method="post" class="formulario-emprendimiento" id="form">
      <div class="campo form-group">
        <label>Nombre del negocio</label>
        <input type="text" placeholder="Ingrese el nombre del negocio" id="businessName" name="businessName"/>
        <p class="form-message-error">mensaje</p>
      </div>

      <div class="campo form-group">
        <label>Descripción breve del emprendimiento</label>
        <textarea placeholder="Ingrese una breve descripción" id="businessDescription" name="businessDescription"></textarea>
        <p class="form-message-error">mensaje</p>
        
      </div>

      <div class="campo form-group">
        <label>Categoría</label>
        <div class="categorias">
          <button type="button">Alimentos</button>
          <button type="button">Servicios</button>
          <button type="button">Tecnología</button>
          <button type="button">Arte</button>
          <button type="button">Otros</button>
        </div>
      </div>

      <div class="campo form-group">
        <label>Teléfono de contacto</label>
        <input type="tel" placeholder="Ingrese su teléfono" id="businessTelephone" name="businessTelephone"/>
        <p class="form-message-error">mensaje</p>
      </div>

      <div class="campo form-group">
        <label>Correo electrónico</label>
        <input type="email" placeholder="Ingrese su correo electrónico" id="email" name="email"/>
        <p class="form-message-error">mensaje</p>
      </div>

      <div class="campo form-group">
        <label>Ubicación exacta</label>
        <input type="text" placeholder="Ingrese su ubicación" id="businessLocation" name="businessLocation"/>
        <p class="form-message-error">mensaje</p>
      </div>

      <div class="campo form-group">
        <label>Fecha de registro</label>
        <input type="date" readonly id="loginDate" name="loginDate" />
        <small>Campo solo de lectura</small>
      </div>

      <div class="campo form-group">
        <label>Sube el logo o imagen representativa</label>
        <input type="file" accept=".jpg, .png" />
        <small>Formato JPG o PNG, máx. 5MB</small>
      </div>

      <div class="campo">
        <button type="submit" class="btn-enviar" value="registrarEmprendimiento" "onclick = location.reload()">Enviar solicitud de registro</button>
      </div>
    </form>
  </div>
</section>
</main>
 <footer class="site-footer">
        <div class="footer-container">
    <ul class="footer-links">
      <li>
        <a href="mailto:comunidadconectada@gmail.com" class="contact">
          Contacto: comunidadconectada@gmail.com
        </a>
      </li>
      <li>
        <ul class="submenu">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
        </ul>
      </li>
    </ul>
  </div>
   </footer>
   <script src="js/formulario_script.js"></script>
</body>
</html>