   
            <div class = "navbar">
                <div><img class="logo" src="img/logooficial.png" alt="logo"></div>
                <div class="mobile-nav">
                    <input type="checkbox" id="responsive-menu" class="responsive-menu">
                    <label for="responsive-menu" class="hamburger">
                        <i class='bx bx-menu'></i>
                    </label>
                    <div class="menu-content">
                        <nav>
                            <div class="menu-item">
                                <ul>
                                    <li><a href="index.html">Inicio</a></li>
                                    <li><a href="publicaciones.html">Publicaciones</a></li>
                                    <li><a href="transporte.html">Transporte</a></li>
                                    <li><a href="oferta.html">Oferta</a></li>
                                    <li><a href="RegistroEmprendimiento.html">Emprendimientos</a></li>
                                    <li><a href="panelAdmin.html">Administración</a></li>
                                    <li><a href="perfil.html">Perfil</a></li>
                                    <li class="search-container">
                                        <form action="search">
                                            <input type="text" name="query" placeholder="buscar">
                                            <span class="icon" ><i class='bxr  bx-search'></i></span>
                                            
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>