<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicioSesion_Registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap" rel="stylesheet">
    <title>Iniciar sesion</title>
</head>

<body>

    <div class="all_container">



        <div class="left-side">

            <img class="logo" src="img/logoOficialLetrasNegras.png" alt="">
            <H1>¿Ya tienes una cuenta?</H1>
            <p class="leftP1">Bienvenido! Inicia sesion con:</p>

            <button class="GoogleButton"><img src="img/Google.png" alt="">
                <p class="textButton">Google</p>
            </button>

            <div class="line_N_P">

                <div class="Line"></div>

                <p class="lineP">o continua con:</p>

                <div class="Line"></div>

            </div>

            <form class="formRegistro" action="/LoginSite" method="post" id="form" class="login-form" name="InicioSesion">

                <div class="form-group">
                    <img class="emailIMG" src="img/email.png" alt="">
                    <input class="inputEmail" type="email" placeholder="Email" id="email" name="email">
                    <p class="form-message-error"></p>
                </div>

                <div class="form-group">
                    <img class="lockIMG" src="img/locked.png" alt="" >
                    <input class="inputPass" type="password" placeholder="Contraseña" id="password" name="password">
                    <p class="form-message-error"></p>
                </div>

                <button class="submit" type="submit" value="Log In">Log In</button>
            </form>

            <div class="text-below">
                 <p>Aun no tienes una cuenta?</p> <a href="/Registro">Registrate</a>
            </div>

            


        </div>


        <div class="right-side">

            <img class="RightIMG" src="img/PCSocial.png" alt="">

            <div class="Circle1"></div>
            <div class="Circle2"></div>

            <p>¡Conectate con toda la comunidad!</p>

        </div>

    </div>
<script src="js/formulario_script.js"></script>
</body>
<!--<script src="js/formulario_script.js"></script>-->
</html>


<!--<script>
  const formLogin = document.querySelector('form[name="InicioSesion"]');

formLogin.addEventListener('submit', function(e) {
  if (formLogin.checkValidity()) {
    e.preventDefault();
    window.location.href = '/';
  }
});
</script>-->