<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicioSesion_Registro.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap" rel="stylesheet">
    <title>Registrarse</title>
</head>

<body>

    <div class="all_container">



        <div class="left-side">

            <img class="logo" src="img/logoOficialLetrasNegras.png" alt="">
            <H1>¿No tienes una cuenta?</H1>
            <p class="leftP">Bienvenido! Registrate con:</p>

            <button class="GoogleButton"><img src="img/Google.png" alt="">
                <p class="textButton">Google</p>
            </button>

            <div class="line_N_P">

                <div class="Line"></div>

                <p class="lineP">o continua con:</p>

                <div class="Line"></div>

            </div>

            <form class="formRegistro" action="" id="form" class="login-form" name="registro">

                <div class="form-group">
                    <img class="userIMG" src="img/user.png" alt="">
                    <input class="inputText" type="text" id="usuario" name="usuario" placeholder="Usuario" >
                    <p class="form-message-error">Por favor ingresá un correo válido</p>
                </div>

                <div class="form-group">
                    <img class="emailIMG" src="img/email.png" alt="">
                    <input class="inputEmail" type="email" id="email" name="email" placeholder="Email" >
                    <p class="form-message-error">Mayusculas, Minusculas, números, guión bajo y guion. Rango caracteres 4 a 16</p>
                </div>

                <div class="form-group">
                    <img class="lockIMG" src="img/locked.png" alt="">
                    <input class="inputPass" type="password" id="password" name="password" placeholder="Contraseña" >
                    <p class="form-message-error">La contraseña debe tener al menos 6 caracteres</p>
                </div>

                <button class="submit" type="submit">Sign In</button>
            </form>

            <div class="text-below">
                 <p>Ya tienes una cuenta?</p> <a href="/inicioSesion">Inicia Sesion</a>
            </div>

            


        </div>


        <div class="right-side">

            <img class="RightIMG" src="img/PCSocial.png" alt="">

            <div class="Circle1"></div>
            <div class="Circle2"></div>

            <p>¡Conectate con toda la comunidad!</p>

        </div>

    </div>
<script src="js/formulario_script.js"></script>
</body>

</html>


<!--<script>
  const formLogin = document.querySelector('form[name="registro"]');

formLogin.addEventListener('submit', function(e) {
  if (formLogin.checkValidity()) {
    e.preventDefault();
    window.location.href = '/';
  }
});
</script>-->