<main class="layout">
  <aside class="sidebar">
      <ul class="sidebar-list">
        <li class="sidebar-element"> 
          <div class="sidebar-icon">
          <i class='bx  bx-mountain-view'></i>
          </div>
          <div class="sidebar-text-hide">
            <p><a href="publicacionesAdmin.html">Publicaciones</a></p>
          </div>
        </li>
        <li class="sidebar-element">
          <div class="sidebar-icon">
          <i class='bx  bx-megaphone-alt'></i>
        </div>
          <div class="sidebar-text-hide">
            <p><a href="ReportesAdmin.html">Reportes</a></p>
          </div>
        </li>
        <li class="sidebar-element">
          <div class="sidebar-icon">
          <i class='bx  bx-store'></a></i>
          </div>
          <div class="sidebar-text-hide">
            <p><a href="EmprendimientosAdmin.html">Emprendimientos</a></p>
          </div>
        </li>
        <li class="sidebar-element"> 
          <div class="sidebar-icon">
          <i class='bx  bx-price-tag'></i>
          </div>
          <div class="sidebar-text-hide">
            <p><a href="OfertasAdmin.html">Ofertas</a></p>
          </div>
        </li>
        <li class="sidebar-element"> 
          <div class="sidebar-icon">
          <i class='bx  bx-bus'></i>
          </div>
          <div class="sidebar-text-hide">
            <p><a href="transporteadmin.html">Transporte</a></p>
          </div>
        </li>
        <li class="sidebar-element"> 
          <div class="sidebar-icon">
          <i class='bx  bx-arrow-right-stroke-square'></i>
          </div>
          <div class="sidebar-text-hide">
            <p><a href="index.html">Salir del Sistema</a></p>
          </div>
        </li>
      </ul>
  </aside>
</main>