.site-footer {
background-color: #e6efff;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

padding: 30px 0;
}
.footer-container{
    max-width: 420px;
    width:100%;
    text-align: center;
}
.footer-links{
    display:flex;
   flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.submenu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:20px;
    font-size: 20px;
    
}
.contact {
    font-family: "poppins", sans-serif;
    
}

.footer-links a {
    text-decoration:none ;
    color:black;
    transition: 0.8s ease;
}

.footer-links a:hover {
    opacity: 0.6;
    color:darkblue;
}
;
@media(max-width: 768px) {
    .footer-links{
        gap: 24px;
    }
    .submenu {
        font-size: 18px;
        gap: 16px;
        flex-wrap: wrap;
    }
}